# Final Project - Criteo Labs Display Advertising Challenge
__`MIDS w261: Machine Learning at Scale | UC Berkeley School of Information | Spring 2019`__

__`Team: Chi Iong Ansjory, Catherine Cao, Scott Xu`__

Table of Content:
- [0. Background](#background)
- [1. Question Formulation](#question_formulation)
- [2. Algorithm Explanation](#algorithm_explanation)
- [3. EDA & Discussion of Challenges](#eda_challenges)
- [4. Algorithm Implementation](#algorithm_implementation)
- [5. Application of Course Concepts](#course_concepts_application)

<a id='background'></a>
# 0. Background

Criteo Labs is a leading global technology company that specializes in performance display advertising, working with over 4,000 e-commerce companies around the world. Their technology takes an algorithmic approach to determining what user they show an advertisement to, when, and for what products. For billions of unique advertisements that are created and displayed at lightning fast speeds every day.

Display advertising is a billion dollar effort and one of the central uses of Machine Learning on the Internet. However, its data and methods are usually kept confidential. Through the Kaggle research competition, Criteo Labs is sharing a weekâ€™s worth of data for participants to develop models predicting advertisement click-through rate (CTR). Given a user and the page being visited, what is the probability that the user will click on a given advertisement?

Source: https://www.kaggle.com/c/criteo-display-ad-challenge

For the dataset, the smaller version is no longer available from Kaggle. The full-size version needs to be used instead from Criteo Labs.

Source: https://www.kaggle.com/c/criteo-display-ad-challenge/data (smaller version - obsoleted); http://labs.criteo.com/2014/02/kaggle-display-advertising-challenge-dataset/ (full-size version)

### Notebook Set-Up

In [1]:
# imports
import re
import ast
import time
import numpy as np
import pandas as pd
import seaborn as sns
import networkx as nx
import matplotlib.pyplot as plt

import os

In [2]:
%reload_ext autoreload
%autoreload 2

In [3]:
# store path to notebook
PWD = !pwd
PWD = PWD[0]

<a id='question_formulation'></a>
# 1. Question Formulation

The goal of this analysis is to benchmark the most accurate ML algorithms for CTR estimation.

<a id='algorithm_explanation'></a>
# 2. Algorithm Explanation

<a id='eda_challenges'></a>
# 3. EDA & Discussion of Challenges

The main challenges are the dataset given for this analysis has no column labels. We can't leverage any of our pre-existing knowledge about how online ads are served and CTR is computed in understanding the data. This means we have to put in extra effort in analyzing the data so we can understand the relationships between different features in the dataset and process them appropriately.

In [ ]:
# Load data. Keep this relative path access to data
dir_name = os.getcwd()
#train_filename = os.path.join(dir_name, 'data/train.txt')
#test_filename = os.path.join(dir_name, 'data/test.txt')
toy_filename = os.path.join(dir_name, 'data/toy.txt')

# Reading the data
#train = pd.read_csv(train_filename, sep="\t", header=None)
#test = pd.read_csv(test_filename, sep="\t", header=None)
toy = pd.read_csv(toy_filename, sep="\t", header=None)

#print("Original shapes of train and test datasets:")
#train.shape, test.shape
toy.shape

<a id='algorithm_implementation'></a>
# 4. Algorithm Implementation

In [4]:
# start Spark Session
from pyspark.sql import SparkSession
app_name = "fpj_notebook"
master = "local[*]"
spark = SparkSession\
        .builder\
        .appName(app_name)\
        .master(master)\
        .getOrCreate()
sc = spark.sparkContext

from pyspark.sql.types import *
import pyspark.sql.functions as F

In [31]:
#from pyspark.mllib.tree import GradientBoostedTrees, GradientBoostedTreesModel
#from pyspark.mllib.util import MLUtils

In [9]:
# load the raw data into an RDD
toyRDD = sc.textFile('data/toy.txt')

In [10]:
# take a look at raw data
toyRDD.take(5)

['0,1,1,5,0,1382,4,15,2,181,1,2,,2,68fd1e64,80e26c9b,fb936136,7b4723c4,25c83c98,7e0ccccf,de7995b8,1f89b562,a73ee510,a8cd5504,b2cb9c98,37c9c164,2824a5f6,1adce6ef,8ba8b39a,891b62e7,e5ba7672,f54016b9,21ddcdc9,b1252a9d,07b5194c,,3a171ecb,c5c50484,e8b83407,9727dd16',
 '0,2,0,44,1,102,8,2,2,4,1,1,,4,68fd1e64,f0cf0024,6f67f7e5,41274cd7,25c83c98,fe6b92e5,922afcc0,0b153874,a73ee510,2b53e5fb,4f1b46f3,623049e6,d7020589,b28479f6,e6c5b5cd,c92f3b61,07c540c4,b04e4670,21ddcdc9,5840adea,60f6221e,,3a171ecb,43f13e8b,e8b83407,731c3655',
 '0,2,0,1,14,767,89,4,2,245,1,3,3,45,287e684f,0a519c5c,02cf9876,c18be181,25c83c98,7e0ccccf,c78204a1,0b153874,a73ee510,3b08e48b,5f5e6091,8fe001f4,aa655a2f,07d13a8f,6dc710ed,36103458,8efede7f,3412118d,,,e587c466,ad3062eb,3a171ecb,3b183c5c,,',
 '0,,893,,,4392,,0,0,0,,0,,,68fd1e64,2c16a946,a9a87e68,2e17d6f6,25c83c98,fe6b92e5,2e8a689b,0b153874,a73ee510,efea433b,e51ddf94,a30567ca,3516f6e6,07d13a8f,18231224,52b8680f,1e88c74f,74ef3502,,,6b3a5ca6,,3a171ecb,9117a34a,,',
 '0,3,-1,,0,2,0,3,0,0,1,1,,0,8cf07265,ae46a29d,c81688bb,f922efad,25c83c98,13718bbd,ad9fa255,0b153874,a73ee510,5282c137,e5d8af57,66a76a26,f06c53ac,1adce6ef,8ff4b403,01adbab4,1e88c74f,26b3c7a7,,,21c9516a,,32c7478e,b34f3128,,']

In [11]:
# split variables
temp_var = toyRDD.map(lambda x: x.split(","))

In [12]:
# creating header for data
numeric_features = ['I'+str(i) for i in range(1, 14)]
categorical_features = ['C'+str(i) for i in range(1, 27)]
header = ['target'] + numeric_features + categorical_features

In [13]:
# create pyspark dataframe
toy_df = temp_var.toDF(header)
toy_df.show()

+------+---+---+---+---+-----+---+---+---+----+---+---+---+---+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|target| I1| I2| I3| I4|   I5| I6| I7| I8|  I9|I10|I11|I12|I13|      C1|      C2|      C3|      C4|      C5|      C6|      C7|      C8|      C9|     C10|     C11|     C12|     C13|     C14|     C15|     C16|     C17|     C18|     C19|     C20|     C21|     C22|     C23|     C24|     C25|     C26|
+------+---+---+---+---+-----+---+---+---+----+---+---+---+---+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|     0|  1|  1|  5|  0| 1382|  4| 15|  2| 181|  1|  2|   |  2|68fd1e64|80e26c9b|fb936136|7b4723c4|25c83c98|7e0ccccf|de7995b8|1f89b562|a73ee510|a8cd5504|b2cb9c98|37c9c164|2824a5f6|1adce6ef|8ba8b39a|891b62e7|e5ba7672|f54016b9|21ddcdc9|b1252a9d|07b5194c|        |3a171ecb|c5c50484|e8b83407|9727dd16|
|     0|  2|  0| 44|  1|  102|  8|  2|  2|   4|  1|  1|   |  4|68fd1e64|f0cf0024|6f67f7e5|41274cd7|25c83c98|fe6b92e5|922afcc0|0b153874|a73ee510|2b53e5fb|4f1b46f3|623049e6|d7020589|b28479f6|e6c5b5cd|c92f3b61|07c540c4|b04e4670|21ddcdc9|5840adea|60f6221e|        |3a171ecb|43f13e8b|e8b83407|731c3655|
|     0|  2|  0|  1| 14|  767| 89|  4|  2| 245|  1|  3|  3| 45|287e684f|0a519c5c|02cf9876|c18be181|25c83c98|7e0ccccf|c78204a1|0b153874|a73ee510|3b08e48b|5f5e6091|8fe001f4|aa655a2f|07d13a8f|6dc710ed|36103458|8efede7f|3412118d|        |        |e587c466|ad3062eb|3a171ecb|3b183c5c|        |        |
|     0|   |893|   |   | 4392|   |  0|  0|   0|   |  0|   |   |68fd1e64|2c16a946|a9a87e68|2e17d6f6|25c83c98|fe6b92e5|2e8a689b|0b153874|a73ee510|efea433b|e51ddf94|a30567ca|3516f6e6|07d13a8f|18231224|52b8680f|1e88c74f|74ef3502|        |        |6b3a5ca6|        |3a171ecb|9117a34a|        |        |
|     0|  3| -1|   |  0|    2|  0|  3|  0|   0|  1|  1|   |  0|8cf07265|ae46a29d|c81688bb|f922efad|25c83c98|13718bbd|ad9fa255|0b153874|a73ee510|5282c137|e5d8af57|66a76a26|f06c53ac|1adce6ef|8ff4b403|01adbab4|1e88c74f|26b3c7a7|        |        |21c9516a|        |32c7478e|b34f3128|        |        |
|     0|   | -1|   |   |12824|   |  0|  0|   6|   |  0|   |   |05db9164|6c9c9cf3|2730ec9c|5400db8b|43b19349|6f6d9be8|53b5f978|0b153874|a73ee510|3b08e48b|91e8fc27|be45b877|9ff13f22|07d13a8f|06969a20|9bc7fff5|776ce399|92555263|        |        |242bb710|8ec974f4|be7c41b4|72c78f11|        |        |
|     0|   |  1|  2|   | 3168|   |  0|  1|   2|   |  0|   |   |439a44a4|ad4527a2|c02372d0|d34ebbaa|43b19349|fe6b92e5|4bc6ffea|0b153874|a73ee510|3b08e48b|a4609aab|14d63538|772a00d7|07d13a8f|f9d1382e|b00d3dc9|776ce399|cdfa8259|        |        |20062612|        |93bad2c0|1b256e61|        |        |
|     1|  1|  4|  2|  0|    0|  0|  1|  0|   0|  1|  1|   |  0|68fd1e64|2c16a946|503b9dbc|e4dbea90|f3474129|13718bbd|38eb9cf4|1f89b562|a73ee510|547c0ffe|bc8c9f21|60ab2f07|46f42a63|07d13a8f|18231224|e6b6bdc7|e5ba7672|74ef3502|        |        |5316a17f|        |32c7478e|9117a34a|        |        |
|     0|   | 44|  4|  8|19010|249| 28| 31| 141|   |  1|   |  8|05db9164|d833535f|d032c263|c18be181|25c83c98|7e0ccccf|d5b6acf2|0b153874|a73ee510|2acdcf4e|086ac2d2|dfbb09fb|41a6ae00|b28479f6|e2502ec9|84898b2a|e5ba7672|42a2edb9|        |        |0014c32a|        |32c7478e|3b183c5c|        |        |
|     0|   | 35|   |  1|33737| 21|  1|  2|   3|   |  1|   |  1|05db9164|510b40a5|d03e7c24|eb1fd928|25c83c98|        |52283d1c|0b153874|a73ee510|015ac893|e51ddf94|951fe4a9|3516f6e6|07d13a8f|2ae4121c|8ec71479|d4bb7bd8|70d0f5f9|        |        |0e63fca0|        |32c7478e|0e8fe315|        |        |
|     0|   |  2|632|  0|56770|   |  0|  5|  65|   |  0|   |  2|05db9164|0468d672|7ae80d0f|80d8555a|25c83c98|7e0ccccf|04277bf9|0b153874|7cc72ec2|3b08e48b|7e2c5c15|cfc86806|91a1b611|b28479f6|58251aab|146a70fd|776ce399|0b331314|21ddcdc9|5840adea|cbec39db|        |3a171ecb|cedad179|ea9a246c|9a556cfc|
|     0|  0|  6|  6|  6|  421|109|  1|  7| 107|  0|  1|   |  6|05db9164|9b5fd12f|        |        |4cf72387|        |111121f4|0b153874|a73ee510|3b08e48b|ac9c2e8f|        |6e2d6a15|07d13a8f|796a1a2e|        |d4bb7bd8|8aaa5b67|        |        |        |        |32c7478e|        |        |        |
|     1|  0| -1|   |   | 1465|  0| 17|  0|   4|  0|  4|   |   |241546e0|38a947a1|fa673455|6a14f9b9|25c83c98|fe6b92e5|1c86e0eb|1f89b562|a73ee510|e7ba2569|755e4a50|208d9687|5978055e|07d13a8f|5182f694|f8b34416|e5ba7672|e5f8f18f|        |        |f3ddd519|        |32c7478e|b34f3128|        |        |
|     1|   |  2| 11|  5|10262| 34|  2|  4|   5|   |  1|   |  5|be589b51|287130e0|cd7a7a22|fb7334df|25c83c98|        |6cdb3998|361384ce|a73ee510|3ff10fb2|5874c9c9|976cbd4c|740c210d|1adce6ef|310d155b|07eb8110|07c540c4|891589e7|18259a83|a458ea53|a0ab60ca|        |32c7478e|a052b1ed|9b3e8820|8967c0d2|
|     0|  0| 51| 84|  4| 3633| 26|  1|  4|   8|  0|  1|   |  4|5a9ed9b0|80e26c9b|97144401|5dbf0cc5|0942e0a7|13718bbd|9ce6136d|0b153874|a73ee510|2106e595|b5bb9d63|04f55317|ab04d8fe|1adce6ef|0ad47a49|2bd32e5c|3486227d|12195b22|21ddcdc9|b1252a9d|fa131867|        |dbb486d7|8ecc176a|e8b83407|c43c3f58|
|     0|   |  2|  1| 18|20255|   |  0|  1|1306|   |  0|   | 20|05db9164|bc6e3dc1|67799c69|d00d0f35|4cf72387|7e0ccccf|ca4fd8f8|64523cfa|a73ee510|3b08e48b|a0060bca|b9f28c33|22d23aac|5aebfb83|d702713a|0f655650|776ce399|3a2028fd|        |        |b426bc93|        |3a171ecb|2e0a0035|        |        |
|     1|  1|987|   |  2|  105|  2|  1|  2|   2|  1|  1|   |  2|68fd1e64|38d50e09|da603082|431a5096|43b19349|7e0ccccf|3f35b640|0b153874|a73ee510|3b08e48b|3d5fb018|6aaab577|94172618|07d13a8f|ee569ce2|2f03ef40|d4bb7bd8|582152eb|21ddcdc9|b1252a9d|3b203ca1|        |32c7478e|b21dc903|001f3601|aa5f0a15|
|     0|  0|  1|   |  0|16597|557|  3|  5| 123|  0|  1|   |  1|8cf07265|7cd19acc|77f2f2e5|d16679b9|4cf72387|fbad5c96|8fb24933|0b153874|a73ee510|0095a535|3617b5f5|9f32b866|428332cf|b28479f6|83ebd498|31ca40b6|e5ba7672|d0e5eb07|        |        |dfcfc3fa|ad3062eb|32c7478e|aee52b6f|        |        |
|     0|  0| 24|  4|  2| 2056| 12|  6| 10|  83|  0|  1|   |  2|05db9164|f0cf0024|08b45d8b|cbb5af1b|384874ce|fbad5c96|81bb0302|37e4aa92|a73ee510|175d6c71|b7094596|1c547463|1f9d2c38|1adce6ef|55dc357b|0ca69655|e5ba7672|b04e4670|21ddcdc9|b1252a9d|f3caefdd|        |32c7478e|4c8e5aef|ea9a246c|9593bba9|
|     0|  7|102|   |  3|  780| 15|  7| 15|  15|  1|  1|   |  3|3c9d8785|b0660259|3a960356|15c92ddb|4cf72387|13718bbd|00c46cd1|0b153874|a73ee510|62cfc6bd|8cffe207|656e5413|ff5626de|ad1cc976|27b1230c|fa8d05aa|e5ba7672|5edd90de|        |        |e12ce348|        |c3dc6cef|49045073|        |        |
+------+---+---+---+---+-----+---+---+---+----+---+---+---+---+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
only showing top 20 rows

In [15]:
# cast integer variables to integer type
for var in ['target'] + numeric_features:
    toy_df = toy_df.withColumn(var, toy_df[var].cast(IntegerType()))

In [16]:
# check schema
toy_df.printSchema()

root
 |-- target: integer (nullable = true)
 |-- I1: integer (nullable = true)
 |-- I2: integer (nullable = true)
 |-- I3: integer (nullable = true)
 |-- I4: integer (nullable = true)
 |-- I5: integer (nullable = true)
 |-- I6: integer (nullable = true)
 |-- I7: integer (nullable = true)
 |-- I8: integer (nullable = true)
 |-- I9: integer (nullable = true)
 |-- I10: integer (nullable = true)
 |-- I11: integer (nullable = true)
 |-- I12: integer (nullable = true)
 |-- I13: integer (nullable = true)
 |-- C1: string (nullable = true)
 |-- C2: string (nullable = true)
 |-- C3: string (nullable = true)
 |-- C4: string (nullable = true)
 |-- C5: string (nullable = true)
 |-- C6: string (nullable = true)
 |-- C7: string (nullable = true)
 |-- C8: string (nullable = true)
 |-- C9: string (nullable = true)
 |-- C10: string (nullable = true)
 |-- C11: string (nullable = true)
 |-- C12: string (nullable = true)
 |-- C13: string (nullable = true)
 |-- C14: string (nullable = true)
 |-- C15: string (nullable = true)
 |-- C16: string (nullable = true)
 |-- C17: string (nullable = true)
 |-- C18: string (nullable = true)
 |-- C19: string (nullable = true)
 |-- C20: string (nullable = true)
 |-- C21: string (nullable = true)
 |-- C22: string (nullable = true)
 |-- C23: string (nullable = true)
 |-- C24: string (nullable = true)
 |-- C25: string (nullable = true)
 |-- C26: string (nullable = true)

In [17]:
# how many records do we have
total_count = toy_df.count()
total_count

100

In [18]:
# take a look at data
pd.DataFrame(toy_df.take(5), columns=toy_df.columns).transpose()

               0         1         2         3         4
target         0         0         0         0         0
I1             1         2         2       NaN         3
I2             1         0         0       893        -1
I3             5        44         1       NaN       NaN
I4             0         1        14       NaN         0
I5          1382       102       767      4392         2
I6             4         8        89       NaN         0
I7            15         2         4         0         3
I8             2         2         2         0         0
I9           181         4       245         0         0
I10            1         1         1       NaN         1
I11            2         1         3         0         1
I12          NaN       NaN         3       NaN       NaN
I13            2         4        45       NaN         0
C1      68fd1e64  68fd1e64  287e684f  68fd1e64  8cf07265
C2      80e26c9b  f0cf0024  0a519c5c  2c16a946  ae46a29d
C3      fb936136  6f67f7e5  02cf9876  a9a87e68  c81688bb
C4      7b4723c4  41274cd7  c18be181  2e17d6f6  f922efad
C5      25c83c98  25c83c98  25c83c98  25c83c98  25c83c98
C6      7e0ccccf  fe6b92e5  7e0ccccf  fe6b92e5  13718bbd
C7      de7995b8  922afcc0  c78204a1  2e8a689b  ad9fa255
C8      1f89b562  0b153874  0b153874  0b153874  0b153874
C9      a73ee510  a73ee510  a73ee510  a73ee510  a73ee510
C10     a8cd5504  2b53e5fb  3b08e48b  efea433b  5282c137
C11     b2cb9c98  4f1b46f3  5f5e6091  e51ddf94  e5d8af57
C12     37c9c164  623049e6  8fe001f4  a30567ca  66a76a26
C13     2824a5f6  d7020589  aa655a2f  3516f6e6  f06c53ac
C14     1adce6ef  b28479f6  07d13a8f  07d13a8f  1adce6ef
C15     8ba8b39a  e6c5b5cd  6dc710ed  18231224  8ff4b403
C16     891b62e7  c92f3b61  36103458  52b8680f  01adbab4
C17     e5ba7672  07c540c4  8efede7f  1e88c74f  1e88c74f
C18     f54016b9  b04e4670  3412118d  74ef3502  26b3c7a7
C19     21ddcdc9  21ddcdc9
C20     b1252a9d  5840adea
C21     07b5194c  60f6221e  e587c466  6b3a5ca6  21c9516a
C22                         ad3062eb
C23     3a171ecb  3a171ecb  3a171ecb  3a171ecb  32c7478e
C24     c5c50484  43f13e8b  3b183c5c  9117a34a  b34f3128
C25     e8b83407  e8b83407
C26     9727dd16  731c3655

In [19]:
# for some reason missing categorical variables are not recognized as NA, replacing with the None here
toy_df = toy_df.replace('', None, categorical_features)

In [20]:
num_summary = toy_df.select(numeric_features).describe()
num_summary_pd = num_summary.toPandas().transpose()
num_summary_pd.columns = num_summary_pd.iloc[0]
num_summary_pd = num_summary_pd[1:]
num_summary_pd

summary count                mean              stddev min     max
I1         51   4.862745098039215  13.827537174555907   0      88
I2        100               86.65   318.3916454604139  -1    2382
I3         71  28.591549295774648   77.56758849357283   1     632
I4         78   7.551282051282051    11.1956014506364   0      75
I5         98   19274.11224489796   73309.81640234843   0  681386
I6         78  139.35897435897436   302.6821647214993   0    2106
I7         98   11.10204081632653  21.222187279013756   0     147
I8        100               11.82  13.772597592482125   0      49
I9         98  109.18367346938776   191.2973260325174   0    1306
I10        51  0.6078431372549019  0.6656855525711526   0       3
I11        98  2.0714285714285716  2.8073908347376704   0      15
I12        27  1.3703703703703705   2.830440957058813   0      12
I13        78   9.166666666666666  13.202141371631225   0      77

In [22]:
cat_summary = pd.DataFrame()
for i in categorical_features:
    cached = toy_df.groupBy(i).count().cache()
    mode = cached.orderBy('count', ascending=0).filter(i + "!=''").limit(1).toPandas()
    level = cached.count()
    mode['level'] = level
    mode['var'] = i
    mode.rename(columns={i:'mode'}, inplace=True)
    cat_summary = cat_summary.append(mode, ignore_index = True)
cat_summary

        mode  count  level  var
0   05db9164     50     16   C1
1   38a947a1     11     48   C2
2   d032c263     10     83   C3
3   c18be181     13     77   C4
4   25c83c98     62      8   C5
5   7e0ccccf     42      6   C6
6   3f4ec687      4     96   C7
7   0b153874     58     15   C8
8   a73ee510     90      2   C9
9   3b08e48b     27     69  C10
10  c4adf918      4     91  C11
11  dfbb09fb     10     83  C12
12  85dbe138      4     89  C13
13  07d13a8f     40      9  C14
14  7ac43a46      5     85  C15
15  84898b2a     10     82  C16
16  e5ba7672     37      9  C17
17  5aed7436      8     70  C18
18  21ddcdc9     24     26  C19
19  a458ea53     19      4  C20
20  0014c32a     10     83  C21
21  ad3062eb      8      5  C22
22  32c7478e     45     10  C23
23  3b183c5c     14     62  C24
24  e8b83407     19     11  C25
25  49d68486      6     43  C26

In [23]:
# impute missing values - numeric features impute with mean, categorical features impute with mode
num_means = list(num_summary_pd['mean'].astype('float64').round().astype('int64'))
cat_modes = list(cat_summary['mode'])
impute = dict(zip(numeric_features+categorical_features, num_means+cat_modes))
impute

{'I1': 5,
 'I2': 87,
 'I3': 29,
 'I4': 8,
 'I5': 19274,
 'I6': 139,
 'I7': 11,
 'I8': 12,
 'I9': 109,
 'I10': 1,
 'I11': 2,
 'I12': 1,
 'I13': 9,
 'C1': '05db9164',
 'C2': '38a947a1',
 'C3': 'd032c263',
 'C4': 'c18be181',
 'C5': '25c83c98',
 'C6': '7e0ccccf',
 'C7': '3f4ec687',
 'C8': '0b153874',
 'C9': 'a73ee510',
 'C10': '3b08e48b',
 'C11': 'c4adf918',
 'C12': 'dfbb09fb',
 'C13': '85dbe138',
 'C14': '07d13a8f',
 'C15': '7ac43a46',
 'C16': '84898b2a',
 'C17': 'e5ba7672',
 'C18': '5aed7436',
 'C19': '21ddcdc9',
 'C20': 'a458ea53',
 'C21': '0014c32a',
 'C22': 'ad3062eb',
 'C23': '32c7478e',
 'C24': '3b183c5c',
 'C25': 'e8b83407',
 'C26': '49d68486'}

In [24]:
import json
f = open("imputation_int.json")
impute = json.load(f)
f.close()

In [25]:
# impute missing and take a look at imputed data
toy_df_impute = toy_df.fillna(impute)
toy_df_impute.cache()
pd.DataFrame(toy_df_impute.take(10), columns=toy_df_impute.columns).transpose()

,0,1,2,3,4,5,6,7,8,9
target,0,0,0,0,0,0,0,1,0,0
I1,1,2,2,4,3,4,4,1,4,4
I2,1,0,0,893,-1,-1,1,4,44,35
I3,5,44,1,27,27,27,2,2,4,27
I4,0,1,14,7,0,7,7,0,8,1
I5,1382,102,767,4392,2,12824,3168,0,19010,33737
I6,4,8,89,116,0,116,116,0,249,21
I7,15,2,4,0,3,0,0,1,28,1
I8,2,2,2,0,0,0,1,0,31,2
I9,181,4,245,0,0,6,2,0,141,3
I10,1,1,1,1,1,1,1,1,1,1
I11,2,1,3,0,1,0,0,1,1,1
I12,1,1,3,1,1,1,1,1,1,1
I13,2,4,45,8,0,8,8,0,8,1
C1,68fd1e64,68fd1e64,287e684f,68fd1e64,8cf07265,05db9164,439a44a4,68fd1e64,05db9164,05db9164
C2,80e26c9b,f0cf0024,0a519c5c,2c16a946,ae46a29d,6c9c9cf3,ad4527a2,2c16a946,d833535f,510b40a5
C3,fb936136,6f67f7e5,02cf9876,a9a87e68,c81688bb,2730ec9c,c02372d0,503b9dbc,d032c263,d03e7c24
C4,7b4723c4,41274cd7,c18be181,2e17d6f6,f922efad,5400db8b,d34ebbaa,e4dbea90,c18be181,eb1fd928
C5,25c83c98,25c83c98,25c83c98,25c83c98,25c83c98,43b19349,43b19349,f3474129,25c83c98,25c83c98
C6,7e0ccccf,fe6b92e5,7e0ccccf,fe6b92e5,13718bbd,6f6d9be8,fe6b92e5,13718bbd,7e0ccccf,7e0ccccf
C7,de7995b8,922afcc0,c78204a1,2e8a689b,ad9fa255,53b5f978,4bc6ffea,38eb9cf4,d5b6acf2,52283d1c
C8,1f89b562,0b153874,0b153874,0b153874,0b153874,0b153874,0b153874,1f89b562,0b153874,0b153874
C9,a73ee510,a73ee510,a73ee510,a73ee510,a73ee510,a73ee510,a73ee510,a73ee510,a73ee510,a73ee510
C10,a8cd5504,2b53e5fb,3b08e48b,efea433b,5282c137,3b08e48b,3b08e48b,547c0ffe,2acdcf4e,015ac893
C11,b2cb9c98,4f1b46f3,5f5e6091,e51ddf94,e5d8af57,91e8fc27,a4609aab,bc8c9f21,086ac2d2,e51ddf94
C12,37c9c164,623049e6,8fe001f4,a30567ca,66a76a26,be45b877,14d63538,60ab2f07,dfbb09fb,951fe4a9
C13,2824a5f6,d7020589,aa655a2f,3516f6e6,f06c53ac,9ff13f22,772a00d7,46f42a63,41a6ae00,3516f6e6
C14,1adce6ef,b28479f6,07d13a8f,07d13a8f,1adce6ef,07d13a8f,07d13a8f,07d13a8f,b28479f6,07d13a8f
C15,8ba8b39a,e6c5b5cd,6dc710ed,18231224,8ff4b403,06969a20,f9d1382e,18231224,e2502ec9,2ae4121c
C16,891b62e7,c92f3b61,36103458,52b8680f,01adbab4,9bc7fff5,b00d3dc9,e6b6bdc7,84898b2a,8ec71479
C17,e5ba7672,07c540c4,8efede7f,1e88c74f,1e88c74f,776ce399,776ce399,e5ba7672,e5ba7672,d4bb7bd8
C18,f54016b9,b04e4670,3412118d,74ef3502,26b3c7a7,92555263,cdfa8259,74ef3502,42a2edb9,70d0f5f9
C19,21ddcdc9,21ddcdc9,21ddcdc9,21ddcdc9,21ddcdc9,21ddcdc9,21ddcdc9,21ddcdc9,21ddcdc9,21ddcdc9
C20,b1252a9d,5840adea,b1252a9d,b1252a9d,b1252a9d,b1252a9d,b1252a9d,b1252a9d,b1252a9d,b1252a9d
C21,07b5194c,60f6221e,e587c466,6b3a5ca6,21c9516a,242bb710,20062612,5316a17f,0014c32a,0e63fca0
C22,ad3062eb,ad3062eb,ad3062eb,ad3062eb,ad3062eb,8ec974f4,ad3062eb,ad3062eb,ad3062eb,ad3062eb
C23,3a171ecb,3a171ecb,3a171ecb,3a171ecb,32c7478e,be7c41b4,93bad2c0,32c7478e,32c7478e,32c7478e
C24,c5c50484,43f13e8b,3b183c5c,9117a34a,b34f3128,72c78f11,1b256e61,9117a34a,3b183c5c,0e8fe315
C25,e8b83407,e8b83407,001f3601,001f3601,001f3601,001f3601,001f3601,001f3601,001f3601,001f3601
C26,9727dd16,731c3655,49d68486,49d68486,49d68486,49d68486,49d68486,49d68486,49d68486,49d68486

In [54]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import OneHotEncoderEstimator, StringIndexer, VectorAssembler
from pyspark.sql.functions import lit
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml import Pipeline
from pyspark.ml.classification import GBTClassifier
#from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [48]:
def preprocess(df):
    stages = []
    categorical_features_index=[]
    for categoricalCol in ['C6','C9','C14','C17','C20','C23','C25']:
        stringIndexer = StringIndexer(inputCol = categoricalCol, outputCol = categoricalCol + 'Index')
        encoder = OneHotEncoderEstimator(inputCols=[stringIndexer.getOutputCol()], outputCols=[categoricalCol + "classVec"])
        #encoder = VectorIndexer(inputCol=[stringIndexer.getOutputCol()], outputCol=[categoricalCol + "classVec"])
        categorical_features_index += [categoricalCol + 'classVec']
        stages += [stringIndexer,encoder]
    #print(categorical_features_index)

    vector_assembler = VectorAssembler( \
        inputCols= numeric_features+ categorical_features_index, \
        outputCol="features")

    stages += [vector_assembler] 
    pipeline = Pipeline(stages = stages)

    pipelineModel = pipeline.fit(df)
    df_temp = pipelineModel.transform(df)
    
    return df_temp

In [51]:
stages = []
categorical_features_index=[]
for categoricalCol in ['C6','C9','C14','C17','C20','C23','C25']:
    stringIndexer = StringIndexer(inputCol = categoricalCol, outputCol = categoricalCol + 'Index')
    encoder = OneHotEncoderEstimator(inputCols=[stringIndexer.getOutputCol()], outputCols=[categoricalCol + "classVec"])
    #encoder = VectorIndexer(inputCol=[stringIndexer.getOutputCol()], outputCol=[categoricalCol + "classVec"])
    categorical_features_index += [categoricalCol + 'classVec']
    stages += [stringIndexer,encoder]
#print(categorical_features_index)

vector_assembler = VectorAssembler( \
    inputCols= numeric_features+ categorical_features_index, \
    outputCol="features")

stages += [vector_assembler] 
pipeline = Pipeline(stages = stages)
    
pipelineModel = pipeline.fit(toy_df_impute)
df_temp = pipelineModel.transform(toy_df_impute)

In [52]:
start = time.time()
df_temp = preprocess(toy_df_impute)
print("Wall time: {} seconds".format(time.time() - start))
df_temp.printSchema()

Wall time: 1.7658843994140625 seconds
root
 |-- target: integer (nullable = true)
 |-- I1: integer (nullable = false)
 |-- I2: integer (nullable = false)
 |-- I3: integer (nullable = false)
 |-- I4: integer (nullable = false)
 |-- I5: integer (nullable = false)
 |-- I6: integer (nullable = false)
 |-- I7: integer (nullable = false)
 |-- I8: integer (nullable = false)
 |-- I9: integer (nullable = false)
 |-- I10: integer (nullable = false)
 |-- I11: integer (nullable = false)
 |-- I12: integer (nullable = false)
 |-- I13: integer (nullable = false)
 |-- C1: string (nullable = false)
 |-- C2: string (nullable = false)
 |-- C3: string (nullable = false)
 |-- C4: string (nullable = false)
 |-- C5: string (nullable = false)
 |-- C6: string (nullable = false)
 |-- C7: string (nullable = false)
 |-- C8: string (nullable = false)
 |-- C9: string (nullable = false)
 |-- C10: string (nullable = false)
 |-- C11: string (nullable = false)
 |-- C12: string (nullable = false)
 |-- C13: string (nullable = false)
 |-- C14: string (nullable = false)
 |-- C15: string (nullable = false)
 |-- C16: string (nullable = false)
 |-- C17: string (nullable = false)
 |-- C18: string (nullable = false)
 |-- C19: string (nullable = false)
 |-- C20: string (nullable = false)
 |-- C21: string (nullable = false)
 |-- C22: string (nullable = false)
 |-- C23: string (nullable = false)
 |-- C24: string (nullable = false)
 |-- C25: string (nullable = false)
 |-- C26: string (nullable = false)
 |-- C6Index: double (nullable = false)
 |-- C6classVec: vector (nullable = true)
 |-- C9Index: double (nullable = false)
 |-- C9classVec: vector (nullable = true)
 |-- C14Index: double (nullable = false)
 |-- C14classVec: vector (nullable = true)
 |-- C17Index: double (nullable = false)
 |-- C17classVec: vector (nullable = true)
 |-- C20Index: double (nullable = false)
 |-- C20classVec: vector (nullable = true)
 |-- C23Index: double (nullable = false)
 |-- C23classVec: vector (nullable = true)
 |-- C25Index: double (nullable = false)
 |-- C25classVec: vector (nullable = true)
 |-- features: vector (nullable = true)

In [53]:
(trainingData, testData) = df_temp.randomSplit([0.7, 0.3])

In [56]:
# https://spark.apache.org/docs/2.2.0/ml-classification-regression.html#gradient-boosted-tree-classifier
start = time.time()
gbt = GBTClassifier(labelCol="target",\
featuresCol="features", maxIter=10)
model = gbt.fit(trainingData)

predictions = model.transform(testData)
evaluator = BinaryClassificationEvaluator(labelCol = "target")

print("Test Area Under ROC: " + str(evaluator.evaluate(predictions, {evaluator.metricName: "areaUnderROC"})))
print("Wall time: {} seconds".format(time.time() - start))

Test Area Under ROC: 0.41866028708133973
Wall time: 10.904360294342041 seconds

In [57]:
predictions

DataFrame[target: int, I1: int, I2: int, I3: int, I4: int, I5: int, I6: int, I7: int, I8: int, I9: int, I10: int, I11: int, I12: int, I13: int, C1: string, C2: string, C3: string, C4: string, C5: string, C6: string, C7: string, C8: string, C9: string, C10: string, C11: string, C12: string, C13: string, C14: string, C15: string, C16: string, C17: string, C18: string, C19: string, C20: string, C21: string, C22: string, C23: string, C24: string, C25: string, C26: string, C6Index: double, C6classVec: vector, C9Index: double, C9classVec: vector, C14Index: double, C14classVec: vector, C17Index: double, C17classVec: vector, C20Index: double, C20classVec: vector, C23Index: double, C23classVec: vector, C25Index: double, C25classVec: vector, features: vector, rawPrediction: vector, probability: vector, prediction: double]

In [58]:
predictions.select("rawPrediction").show(10)

+--------------------+
|       rawPrediction|
+--------------------+
|[0.74513602147748...|
|[0.97951028809689...|
|[0.07378347550427...|
|[-1.5491457122103...|
|[0.38339226534002...|
|[1.27888079864318...|
|[-0.6106425104610...|
|[1.11183510870168...|
|[1.14495891103410...|
|[-1.2038285656869...|
+--------------------+
only showing top 10 rows

In [47]:
#from pyspark.mllib.regression import LabeledPoint
#y_toy_train = [item[0] for item in toy_df_impute]
#x_toy_train = [item[1:] for item in toy_df_impute]
#toy_df_impute_lp = LabeledPoint(y_toy_train, x_toy_train)

#toy_df_impute_lp = toy_df_impute.rdd.map(lambda x: LabeledPoint(x[0], x[1:])).collect()

TypeError: startPos and length must be the same type. Got <class 'int'> and <class 'NoneType'>, respectively.

In [46]:
#categorical_features = ['C6','C9','C14','C17','C20','C23','C25']

#model = GradientBoostedTrees.trainClassifier(toy_df_impute,
                                             categoricalFeaturesInfo=categorical_features,
                                             numIterations=3)

AssertionError: the data should be RDD of LabeledPoint

<a id='course_concepts_application'></a>
# 5. Application of Course Concepts