# Final Project - Criteo Labs Display Advertising Challenge
__`MIDS w261: Machine Learning at Scale | UC Berkeley School of Information | Spring 2019`__

__`Team: Chi Iong Ansjory, Catherine Cao, Scott Xu`__

Table of Content:
- [0. Background](#background)
- [1. Question Formulation](#question_formulation)
- [2. Algorithm Explanation](#algorithm_explanation)
- [3. EDA & Discussion of Challenges](#eda_challenges)
- [4. Algorithm Implementation](#algorithm_implementation)
- [5. Application of Course Concepts](#course_concepts_application)

<a id='background'></a>
# 0. Background

Criteo Labs is a leading global technology company that specializes in performance display advertising, working with over 4,000 e-commerce companies around the world. Their technology takes an algorithmic approach to determining what user they show an advertisement to, when, and for what products. For billions of unique advertisements that are created and displayed at lightning fast speeds every day.

Display advertising is a billion dollar effort and one of the central uses of Machine Learning on the Internet. However, its data and methods are usually kept confidential. Through the Kaggle research competition, Criteo Labs is sharing a weekâ€™s worth of data for participants to develop models predicting advertisement click-through rate (CTR). Given a user and the page being visited, what is the probability that the user will click on a given advertisement?

Source: https://www.kaggle.com/c/criteo-display-ad-challenge

For the dataset, the smaller version is no longer available from Kaggle. The full-size version needs to be used instead from Criteo Labs.

Source: https://www.kaggle.com/c/criteo-display-ad-challenge/data (smaller version - obsoleted); http://labs.criteo.com/2014/02/kaggle-display-advertising-challenge-dataset/ (full-size version)

### Notebook Set-Up

In [1]:
# imports
import re
import ast
import time
import numpy as np
import pandas as pd
import seaborn as sns
import networkx as nx
import matplotlib.pyplot as plt

import os

In [2]:
%reload_ext autoreload
%autoreload 2

In [3]:
# store path to notebook
PWD = !pwd
PWD = PWD[0]

In [4]:
# start Spark Session
from pyspark.sql import SparkSession
app_name = "fpj_notebook"
master = "local[*]"
spark = SparkSession\
        .builder\
        .appName(app_name)\
        .master(master)\
        .getOrCreate()
sc = spark.sparkContext

from pyspark.sql.types import *
import pyspark.sql.functions as F

<a id='question_formulation'></a>
# 1. Question Formulation

The goal of this analysis is to benchmark the most accurate ML algorithms for CTR estimation.

Understanding the drivers of what influences an individual user to click on a link or not has billions of dollars worth of implications. If we are able to develop a model that predicts user click through rates, the digital advertising market could become more efficient as billions of dollars is wasted annually on mistargeted users. Search engine marketers and analysts frequently perform this type of analysis to reduce one of the most expensive elements of eCommerce, which is called the Cost of Acquisition, or CAC. Particularly for SaaS and digital goods and services, CAC can constitute the majority of costs of goods sold. By being able to target interested customers better, thereby reducing the CAC of a product, less ad-spend goes wasted and the profit margins on each unit sold increases. Consequently businesses have a strong interest in ensuring that ads are properly targeted and CTRs are high.

In an ideal world with perfect information, we would be able to serve up advertisements that have a 100% CTR; that is, each ad we serve results in a click. This would then enable us to focus on conversion tactics that follow the initial ad click. According to WordStream, an online advertising consultancy, a CTR of over 2% for a search advertisement would be terrific. Typically, CTRs are divided up by industry, as each industry's customer has a different profile. For Display Advertisements, which is what Criteo primarily sells, a CTR of above 0.4% would be very good, again, depending on industry.

Source: https://www.wordstream.com/average-ctr

<a id='algorithm_explanation'></a>
# 2. Algorithm Explanation

Based on the volume of the full-size dataset (11GB), we decided to leverage PySpark and Spark ML Library (MLLib) packages. In addressing our project question of correctly predicting CTR, we evaluated following 3 algorithms: Logistic Regression (LR), Gradient Boosted Tree (GBT), and Random Forest (RF).

Source: https://spark.apache.org/docs/2.3.0/ml-guide.html

Logistic Regression is a popular method to predict a categorical response. It is a special case of Generalized Linear models that predicts the probability of the outcomes. If we model this sample data with a logistic regression, we assume that there are parameters $\beta_1$ to $\beta_{22}$ that:

$$ y(clicked) = \frac{exp(\beta_0 + \beta_1 x_1 + \beta_2 x_2 + ... + \beta_{22} x_{22})}{1 + exp(\beta_0 + \beta_1 x_1 + \beta_2 x_2 + ... + \beta_{22} x_{22})} $$

This is in the matrix form of:

$$ \theta^T = \big[ \beta_0 \beta_1 ... \beta_{22} \big] $$

Let sigmoid function $G(z)$ be:

$$ G(z) = \frac{1}{1 + e^{-z}} $$

Each prediction will be:

$$ y_i = G(x_i \theta^T) $$

The log loss function for the logistic regression is defined as:

$$ J(\theta) = -\frac{1}{m} \sum_{i=1}^{m} (y_i log(H(x_i)) - (1-y_i)log(1-H(x_i)))$$

We can think of the log loss function as the error of our predictions and the process of solving for $\beta$'s as to minimize the log loss function. In order to do that, we can use the method of gradient descent where we iteratively adjust the coefficients $\theta$ to the direction that decreases the log loss function. The direction is given to us by the derivative of the log loss function.

Taking a derivative of the log loss function with respect to $\theta$ to get the gradient:

$$ \frac{\partial J(\theta)}{\partial \theta_j} = \frac{1}{m} \sum_{i=1}^{m} (H(x_i)-y_i) * x_{ij}$$

With the gradient computed in every iteration, we get the next $\theta$ by:

$$ \theta_{new} = \theta - \alpha * \frac{\partial J(\theta)}{\partial \theta_j} $$

where $\alpha$ is the learning rate for the gradient descent

<a id='eda_challenges'></a>
# 3. EDA & Discussion of Challenges

The main challenges are the dataset given for this analysis has no column labels. We can't leverage any of our pre-existing knowledge about how online ads are served and CTR is computed in understanding the data. This means we have to put in extra effort in analyzing the data so we can understand the relationships between different features in the dataset and process them appropriately.

__train.txt__ is a dataset of 11GB and __test.txt__ is a dataset of 1.5GB. There is an additional column for label in __train.txt__ but not in __test.txt__. So, __train.txt__ will be splitted 70%/30% for training data and test data.

First of all, loading the __train.txt__ raw dataset into RDD, and look at the first 5 rows of data.

In [5]:
# load the raw data into an RDD
trainRDD = sc.textFile('data/train.txt')

In [6]:
# take a look at raw data
trainRDD.take(5)

['0\t1\t1\t5\t0\t1382\t4\t15\t2\t181\t1\t2\t\t2\t68fd1e64\t80e26c9b\tfb936136\t7b4723c4\t25c83c98\t7e0ccccf\tde7995b8\t1f89b562\ta73ee510\ta8cd5504\tb2cb9c98\t37c9c164\t2824a5f6\t1adce6ef\t8ba8b39a\t891b62e7\te5ba7672\tf54016b9\t21ddcdc9\tb1252a9d\t07b5194c\t\t3a171ecb\tc5c50484\te8b83407\t9727dd16',
 '0\t2\t0\t44\t1\t102\t8\t2\t2\t4\t1\t1\t\t4\t68fd1e64\tf0cf0024\t6f67f7e5\t41274cd7\t25c83c98\tfe6b92e5\t922afcc0\t0b153874\ta73ee510\t2b53e5fb\t4f1b46f3\t623049e6\td7020589\tb28479f6\te6c5b5cd\tc92f3b61\t07c540c4\tb04e4670\t21ddcdc9\t5840adea\t60f6221e\t\t3a171ecb\t43f13e8b\te8b83407\t731c3655',
 '0\t2\t0\t1\t14\t767\t89\t4\t2\t245\t1\t3\t3\t45\t287e684f\t0a519c5c\t02cf9876\tc18be181\t25c83c98\t7e0ccccf\tc78204a1\t0b153874\ta73ee510\t3b08e48b\t5f5e6091\t8fe001f4\taa655a2f\t07d13a8f\t6dc710ed\t36103458\t8efede7f\t3412118d\t\t\te587c466\tad3062eb\t3a171ecb\t3b183c5c\t\t',
 '0\t\t893\t\t\t4392\t\t0\t0\t0\t\t0\t\t\t68fd1e64\t2c16a946\ta9a87e68\t2e17d6f6\t25c83c98\tfe6b92e5\t2e8a689b\t0b153874\ta73ee510\tefea433b\te51ddf94\ta30567ca\t3516f6e6\t07d13a8f\t18231224\t52b8680f\t1e88c74f\t74ef3502\t\t\t6b3a5ca6\t\t3a171ecb\t9117a34a\t\t',
 '0\t3\t-1\t\t0\t2\t0\t3\t0\t0\t1\t1\t\t0\t8cf07265\tae46a29d\tc81688bb\tf922efad\t25c83c98\t13718bbd\tad9fa255\t0b153874\ta73ee510\t5282c137\te5d8af57\t66a76a26\tf06c53ac\t1adce6ef\t8ff4b403\t01adbab4\t1e88c74f\t26b3c7a7\t\t\t21c9516a\t\t32c7478e\tb34f3128\t\t']

__train.txt__ is essentially a text file with tab-separated values, in which all tab-delimited dataset need to be splitted into variables. A header also needs to be added for the identified target numeric variable, 13 numeric features, and 26 categorical features. Then, create a train dataframe with the header, cast integer variables to its type, verify the schema, and the total count of data.

In [7]:
# split variables
temp_var = trainRDD.map(lambda x: x.split("\t"))

In [8]:
# create header for dataset with numeric and categorical features
numeric_features = ['I'+str(i) for i in range(1,14)]
categorical_features = ['C'+str(i) for i in range(1,27)]
header = ['target'] + numeric_features + categorical_features

In [9]:
# create and look at pyspark dataframe
train_df = temp_var.toDF(header)
train_df.show()

+------+---+---+---+---+-----+---+---+---+----+---+---+---+---+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|target| I1| I2| I3| I4|   I5| I6| I7| I8|  I9|I10|I11|I12|I13|      C1|      C2|      C3|      C4|      C5|      C6|      C7|      C8|      C9|     C10|     C11|     C12|     C13|     C14|     C15|     C16|     C17|     C18|     C19|     C20|     C21|     C22|     C23|     C24|     C25|     C26|
+------+---+---+---+---+-----+---+---+---+----+---+---+---+---+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|     0|  1|  1|  5|  0| 1382|  4| 15|  2| 181|  1|  2|   |  2|68fd1e64|80e26c9b|fb936136|7b4723c4|25c83c98|7e0ccccf|de7995b8|1f89b562|a73ee510|a8cd5504|b2cb9c98|37c9c164|2824a5f6|1adce6ef|8ba8b39a|891b62e7|e5ba7672|f54016b9|21ddcdc9|b1252a9d|07b5194c|        |3a171ecb|c5c50484|e8b83407|9727dd16|
|     0|  2|  0| 44|  1|  102|  8|  2|  2|   4|  1|  1|   |  4|68fd1e64|f0cf0024|6f67f7e5|41274cd7|25c83c98|fe6b92e5|922afcc0|0b153874|a73ee510|2b53e5fb|4f1b46f3|623049e6|d7020589|b28479f6|e6c5b5cd|c92f3b61|07c540c4|b04e4670|21ddcdc9|5840adea|60f6221e|        |3a171ecb|43f13e8b|e8b83407|731c3655|
|     0|  2|  0|  1| 14|  767| 89|  4|  2| 245|  1|  3|  3| 45|287e684f|0a519c5c|02cf9876|c18be181|25c83c98|7e0ccccf|c78204a1|0b153874|a73ee510|3b08e48b|5f5e6091|8fe001f4|aa655a2f|07d13a8f|6dc710ed|36103458|8efede7f|3412118d|        |        |e587c466|ad3062eb|3a171ecb|3b183c5c|        |        |
|     0|   |893|   |   | 4392|   |  0|  0|   0|   |  0|   |   |68fd1e64|2c16a946|a9a87e68|2e17d6f6|25c83c98|fe6b92e5|2e8a689b|0b153874|a73ee510|efea433b|e51ddf94|a30567ca|3516f6e6|07d13a8f|18231224|52b8680f|1e88c74f|74ef3502|        |        |6b3a5ca6|        |3a171ecb|9117a34a|        |        |
|     0|  3| -1|   |  0|    2|  0|  3|  0|   0|  1|  1|   |  0|8cf07265|ae46a29d|c81688bb|f922efad|25c83c98|13718bbd|ad9fa255|0b153874|a73ee510|5282c137|e5d8af57|66a76a26|f06c53ac|1adce6ef|8ff4b403|01adbab4|1e88c74f|26b3c7a7|        |        |21c9516a|        |32c7478e|b34f3128|        |        |
|     0|   | -1|   |   |12824|   |  0|  0|   6|   |  0|   |   |05db9164|6c9c9cf3|2730ec9c|5400db8b|43b19349|6f6d9be8|53b5f978|0b153874|a73ee510|3b08e48b|91e8fc27|be45b877|9ff13f22|07d13a8f|06969a20|9bc7fff5|776ce399|92555263|        |        |242bb710|8ec974f4|be7c41b4|72c78f11|        |        |
|     0|   |  1|  2|   | 3168|   |  0|  1|   2|   |  0|   |   |439a44a4|ad4527a2|c02372d0|d34ebbaa|43b19349|fe6b92e5|4bc6ffea|0b153874|a73ee510|3b08e48b|a4609aab|14d63538|772a00d7|07d13a8f|f9d1382e|b00d3dc9|776ce399|cdfa8259|        |        |20062612|        |93bad2c0|1b256e61|        |        |
|     1|  1|  4|  2|  0|    0|  0|  1|  0|   0|  1|  1|   |  0|68fd1e64|2c16a946|503b9dbc|e4dbea90|f3474129|13718bbd|38eb9cf4|1f89b562|a73ee510|547c0ffe|bc8c9f21|60ab2f07|46f42a63|07d13a8f|18231224|e6b6bdc7|e5ba7672|74ef3502|        |        |5316a17f|        |32c7478e|9117a34a|        |        |
|     0|   | 44|  4|  8|19010|249| 28| 31| 141|   |  1|   |  8|05db9164|d833535f|d032c263|c18be181|25c83c98|7e0ccccf|d5b6acf2|0b153874|a73ee510|2acdcf4e|086ac2d2|dfbb09fb|41a6ae00|b28479f6|e2502ec9|84898b2a|e5ba7672|42a2edb9|        |        |0014c32a|        |32c7478e|3b183c5c|        |        |
|     0|   | 35|   |  1|33737| 21|  1|  2|   3|   |  1|   |  1|05db9164|510b40a5|d03e7c24|eb1fd928|25c83c98|        |52283d1c|0b153874|a73ee510|015ac893|e51ddf94|951fe4a9|3516f6e6|07d13a8f|2ae4121c|8ec71479|d4bb7bd8|70d0f5f9|        |        |0e63fca0|        |32c7478e|0e8fe315|        |        |
|     0|   |  2|632|  0|56770|   |  0|  5|  65|   |  0|   |  2|05db9164|0468d672|7ae80d0f|80d8555a|25c83c98|7e0ccccf|04277bf9|0b153874|7cc72ec2|3b08e48b|7e2c5c15|cfc86806|91a1b611|b28479f6|58251aab|146a70fd|776ce399|0b331314|21ddcdc9|5840adea|cbec39db|        |3a171ecb|cedad179|ea9a246c|9a556cfc|
|     0|  0|  6|  6|  6|  421|109|  1|  7| 107|  0|  1|   |  6|05db9164|9b5fd12f|        |        |4cf72387|        |111121f4|0b153874|a73ee510|3b08e48b|ac9c2e8f|        |6e2d6a15|07d13a8f|796a1a2e|        |d4bb7bd8|8aaa5b67|        |        |        |        |32c7478e|        |        |        |
|     1|  0| -1|   |   | 1465|  0| 17|  0|   4|  0|  4|   |   |241546e0|38a947a1|fa673455|6a14f9b9|25c83c98|fe6b92e5|1c86e0eb|1f89b562|a73ee510|e7ba2569|755e4a50|208d9687|5978055e|07d13a8f|5182f694|f8b34416|e5ba7672|e5f8f18f|        |        |f3ddd519|        |32c7478e|b34f3128|        |        |
|     1|   |  2| 11|  5|10262| 34|  2|  4|   5|   |  1|   |  5|be589b51|287130e0|cd7a7a22|fb7334df|25c83c98|        |6cdb3998|361384ce|a73ee510|3ff10fb2|5874c9c9|976cbd4c|740c210d|1adce6ef|310d155b|07eb8110|07c540c4|891589e7|18259a83|a458ea53|a0ab60ca|        |32c7478e|a052b1ed|9b3e8820|8967c0d2|
|     0|  0| 51| 84|  4| 3633| 26|  1|  4|   8|  0|  1|   |  4|5a9ed9b0|80e26c9b|97144401|5dbf0cc5|0942e0a7|13718bbd|9ce6136d|0b153874|a73ee510|2106e595|b5bb9d63|04f55317|ab04d8fe|1adce6ef|0ad47a49|2bd32e5c|3486227d|12195b22|21ddcdc9|b1252a9d|fa131867|        |dbb486d7|8ecc176a|e8b83407|c43c3f58|
|     0|   |  2|  1| 18|20255|   |  0|  1|1306|   |  0|   | 20|05db9164|bc6e3dc1|67799c69|d00d0f35|4cf72387|7e0ccccf|ca4fd8f8|64523cfa|a73ee510|3b08e48b|a0060bca|b9f28c33|22d23aac|5aebfb83|d702713a|0f655650|776ce399|3a2028fd|        |        |b426bc93|        |3a171ecb|2e0a0035|        |        |
|     1|  1|987|   |  2|  105|  2|  1|  2|   2|  1|  1|   |  2|68fd1e64|38d50e09|da603082|431a5096|43b19349|7e0ccccf|3f35b640|0b153874|a73ee510|3b08e48b|3d5fb018|6aaab577|94172618|07d13a8f|ee569ce2|2f03ef40|d4bb7bd8|582152eb|21ddcdc9|b1252a9d|3b203ca1|        |32c7478e|b21dc903|001f3601|aa5f0a15|
|     0|  0|  1|   |  0|16597|557|  3|  5| 123|  0|  1|   |  1|8cf07265|7cd19acc|77f2f2e5|d16679b9|4cf72387|fbad5c96|8fb24933|0b153874|a73ee510|0095a535|3617b5f5|9f32b866|428332cf|b28479f6|83ebd498|31ca40b6|e5ba7672|d0e5eb07|        |        |dfcfc3fa|ad3062eb|32c7478e|aee52b6f|        |        |
|     0|  0| 24|  4|  2| 2056| 12|  6| 10|  83|  0|  1|   |  2|05db9164|f0cf0024|08b45d8b|cbb5af1b|384874ce|fbad5c96|81bb0302|37e4aa92|a73ee510|175d6c71|b7094596|1c547463|1f9d2c38|1adce6ef|55dc357b|0ca69655|e5ba7672|b04e4670|21ddcdc9|b1252a9d|f3caefdd|        |32c7478e|4c8e5aef|ea9a246c|9593bba9|
|     0|  7|102|   |  3|  780| 15|  7| 15|  15|  1|  1|   |  3|3c9d8785|b0660259|3a960356|15c92ddb|4cf72387|13718bbd|00c46cd1|0b153874|a73ee510|62cfc6bd|8cffe207|656e5413|ff5626de|ad1cc976|27b1230c|fa8d05aa|e5ba7672|5edd90de|        |        |e12ce348|        |c3dc6cef|49045073|        |        |
+------+---+---+---+---+-----+---+---+---+----+---+---+---+---+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
only showing top 20 rows

In [10]:
# cast integer variables to integer type
for var in ['target'] + numeric_features:
    train_df = train_df.withColumn(var, train_df[var].cast(IntegerType()))

In [11]:
# check schema
train_df.printSchema()

root
 |-- target: integer (nullable = true)
 |-- I1: integer (nullable = true)
 |-- I2: integer (nullable = true)
 |-- I3: integer (nullable = true)
 |-- I4: integer (nullable = true)
 |-- I5: integer (nullable = true)
 |-- I6: integer (nullable = true)
 |-- I7: integer (nullable = true)
 |-- I8: integer (nullable = true)
 |-- I9: integer (nullable = true)
 |-- I10: integer (nullable = true)
 |-- I11: integer (nullable = true)
 |-- I12: integer (nullable = true)
 |-- I13: integer (nullable = true)
 |-- C1: string (nullable = true)
 |-- C2: string (nullable = true)
 |-- C3: string (nullable = true)
 |-- C4: string (nullable = true)
 |-- C5: string (nullable = true)
 |-- C6: string (nullable = true)
 |-- C7: string (nullable = true)
 |-- C8: string (nullable = true)
 |-- C9: string (nullable = true)
 |-- C10: string (nullable = true)
 |-- C11: string (nullable = true)
 |-- C12: string (nullable = true)
 |-- C13: string (nullable = true)
 |-- C14: string (nullable = true)
 |-- C15: string (nullable = true)
 |-- C16: string (nullable = true)
 |-- C17: string (nullable = true)
 |-- C18: string (nullable = true)
 |-- C19: string (nullable = true)
 |-- C20: string (nullable = true)
 |-- C21: string (nullable = true)
 |-- C22: string (nullable = true)
 |-- C23: string (nullable = true)
 |-- C24: string (nullable = true)
 |-- C25: string (nullable = true)
 |-- C26: string (nullable = true)

In [12]:
# how many records do we have
total_count = train_df.count()
total_count

45840617

Now, the next challenges are to decide how to handle missing values in the variables. There are missing values for both numeric and categorical features, but not the target variable. For missing numeric variables, they show up as __NaN__. For some reason, missing categorical variables are not recognized as __NaN__, replace them with __None__. The distribution of target variable is fairly balanced.

In [19]:
# take a look at data
pd.DataFrame(train_df.take(5), columns=train_df.columns).transpose()

               0         1         2         3         4
target         0         0         0         0         0
I1             1         2         2       NaN         3
I2             1         0         0       893        -1
I3             5        44         1       NaN       NaN
I4             0         1        14       NaN         0
I5          1382       102       767      4392         2
I6             4         8        89       NaN         0
I7            15         2         4         0         3
I8             2         2         2         0         0
I9           181         4       245         0         0
I10            1         1         1       NaN         1
I11            2         1         3         0         1
I12          NaN       NaN         3       NaN       NaN
I13            2         4        45       NaN         0
C1      68fd1e64  68fd1e64  287e684f  68fd1e64  8cf07265
C2      80e26c9b  f0cf0024  0a519c5c  2c16a946  ae46a29d
C3      fb936136  6f67f7e5  02cf9876  a9a87e68  c81688bb
C4      7b4723c4  41274cd7  c18be181  2e17d6f6  f922efad
C5      25c83c98  25c83c98  25c83c98  25c83c98  25c83c98
C6      7e0ccccf  fe6b92e5  7e0ccccf  fe6b92e5  13718bbd
C7      de7995b8  922afcc0  c78204a1  2e8a689b  ad9fa255
C8      1f89b562  0b153874  0b153874  0b153874  0b153874
C9      a73ee510  a73ee510  a73ee510  a73ee510  a73ee510
C10     a8cd5504  2b53e5fb  3b08e48b  efea433b  5282c137
C11     b2cb9c98  4f1b46f3  5f5e6091  e51ddf94  e5d8af57
C12     37c9c164  623049e6  8fe001f4  a30567ca  66a76a26
C13     2824a5f6  d7020589  aa655a2f  3516f6e6  f06c53ac
C14     1adce6ef  b28479f6  07d13a8f  07d13a8f  1adce6ef
C15     8ba8b39a  e6c5b5cd  6dc710ed  18231224  8ff4b403
C16     891b62e7  c92f3b61  36103458  52b8680f  01adbab4
C17     e5ba7672  07c540c4  8efede7f  1e88c74f  1e88c74f
C18     f54016b9  b04e4670  3412118d  74ef3502  26b3c7a7
C19     21ddcdc9  21ddcdc9      None      None      None
C20     b1252a9d  5840adea      None      None      None
C21     07b5194c  60f6221e  e587c466  6b3a5ca6  21c9516a
C22         None      None  ad3062eb      None      None
C23     3a171ecb  3a171ecb  3a171ecb  3a171ecb  32c7478e
C24     c5c50484  43f13e8b  3b183c5c  9117a34a  b34f3128
C25     e8b83407  e8b83407      None      None      None
C26     9727dd16  731c3655      None      None      None

In [20]:
# look at missing statistics
non_missing = train_df.summary("count")
missing_summary = non_missing.toPandas().drop(['summary'], axis=1).transpose()
missing_summary.columns = ['non-missing']
missing_summary['missing'] = total_count - missing_summary['non-missing'].astype('int64')
missing_summary['missing_pct'] = missing_summary['missing'] / total_count
missing_summary.sort_values(['missing_pct'], ascending=False)

       non-missing   missing  missing_pct
I12       10768965  35071652     0.765078
C22       10885544  34955073     0.762535
I1        25047061  20793556     0.453606
I10       25047061  20793556     0.453606
C26       25667759  20172858     0.440065
C25       25667759  20172858     0.440065
C20       25667759  20172858     0.440065
C19       25667759  20172858     0.440065
I6        35588289  10252328     0.223652
I4        35903248   9937369     0.216781
I13       35903248   9937369     0.216781
I3        36001170   9839447     0.214645
C6        40299992   5540625     0.120867
I11       43857751   1982866     0.043256
I7        43857751   1982866     0.043256
I9        43857751   1982866     0.043256
C21       44281144   1559473     0.034019
C12       44281144   1559473     0.034019
C24       44281144   1559473     0.034019
C4        44281144   1559473     0.034019
C3        44281144   1559473     0.034019
C16       44281144   1559473     0.034019
I5        44657500   1183117     0.025809
I8        45817844     22773     0.000497
C23       45840617         0     0.000000
C15       45840617         0     0.000000
C18       45840617         0     0.000000
C17       45840617         0     0.000000
target    45840617         0     0.000000
C14       45840617         0     0.000000
C13       45840617         0     0.000000
C11       45840617         0     0.000000
C10       45840617         0     0.000000
C9        45840617         0     0.000000
C8        45840617         0     0.000000
C5        45840617         0     0.000000
C2        45840617         0     0.000000
C1        45840617         0     0.000000
I2        45840617         0     0.000000
C7        45840617         0     0.000000

In [22]:
# replace missing categorical variables not recognized as NA with the None
train_df = train_df.replace('', None, categorical_features)

In [ ]:
# look at target variable distribution - fairly balanced
train_df.groupBy('target').count().toPandas()

In [25]:
# take 1% of data as a sample for more EDA
sample = train_df.sample(0.01, 666)
sample.count()

459205

<a id='algorithm_implementation'></a>
# 4. Algorithm Implementation

<a id='course_concepts_application'></a>
# 5. Application of Course Concepts